/* Color Variables */
:root {
    /* Colors use for text with Adjusted Tones for Accessibility */
    --clr-primary: #000000; /* Primary text color-Black */
    --clr-secondary: #4D4D4D; /* Secondary text color-Adjusted Dark Grey for better contrast */

    /* Grayscale Tones */
    --clr-light: #C2C2C2; /* Very Light Grey */
    --clr-white: #FFFFFF; /* White */
    --clr-dark: #333333; /* Darker Grey */
    --clr-medium: #666666; /* Medium Grey */
    --clr-muted: #A6A6A6; /* Muted Grey */
    --clr-border: #CCCCCC; /* Border Grey */
    --clr-shadow: #E0E0E0; /* Shadow Grey */
    --clr-highlight: #FAFAFA; /* Highlight Grey */

    /* Vibrant Color Variables for UI Feedback */
    --clr-primary-accent: #0056B3; /* Bright Blue */
    --clr-success: #186329; /* Green */
    --clr-info: #0E606C; /* Light Blue */
    --clr-warning: #FFC107; /* Yellow */
    --clr-danger: #A91E2C; /* Red */
    --clr-special: #6C757D; /* Special Grey */

    /* Tonal Variations */
    --clr-primary-100: #333333; /* Lighter version of Black */
    --clr-primary-700: #000000; /* Darker version for high contrast */
    --clr-accent-100: #3367D6; /* Lighter version of Accent */
    --clr-accent-700: #7523af; /* Darker version of Accent */
}

/* Utility Classes for Colors and Backgrounds */
.text-primary { color: var(--clr-primary); }
.bg-primary { background-color: var(--clr-white); }

.text-secondary { color: var(--clr-secondary); }
.bg-secondary { background-color: var(--clr-light); }

.text-primary-100 { color: var(--clr-primary-100); }
.bg-primary-100 { background-color: var(--clr-light); }

.text-accent-100 { color: var(--clr-accent-100); }
.bg-accent-100 { background-color: var(--clr-white); }

/* Vibrant Colors for UI Feedback */
.btn-primary { background-color: var(--clr-primary-accent); color: var(--clr-white); }
.alert-success { background-color: var(--clr-success); color: var(--clr-white); }
.alert-info { background-color: var(--clr-info); color: var(--clr-white); }
.alert-warning { background-color: var(--clr-warning); color: var(--clr-dark); }
.alert-danger { background-color: var(--clr-danger); color: var(--clr-white); }
.text-special { color: var(--clr-special); }

/* BEM Naming and Namespacing for CSS Classes */
/* Styles for the top navigation bar */
.navbar {
    background-color: var(--clr-shadow); ; /* Light grey for the navbar background */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;   
}

/* Styles for the brand link */
.navbar__brand-link {
    color: var(--clr-primary); /* Black for text */
    text-decoration: none;
    font-weight: bold; 
    font-size: 1.5em;
    margin-left: 0;   
}

.navbar__menu {
    display: flex;
}

/* Styles for menu links */
.navbar__menu-link {
    color: var(--clr-dark); /* Darker grey for text */
    text-decoration: none;
    padding: 0.5em 1em;
    font-size: 20px;  
}

/* Hover state for menu links */
.navbar__menu-link:hover {
    background-color: var(--clr-primary-accent); /* Bright blue background on hover */
    color: var(--clr-white); /* White text on hover */  
}

/* Active state to indicate the current page */
.navbar__menu-link--active {
    color: var(--clr-dark);
    font-size: 20px;  
}

/* Hamburger icon for mobile view */
.navbar__hamburger {
    display: none; 
}

 /* Styles for the sidebar */
.sidebar {
    background-color: var(--clr-shadow); /* Light grey to mimic the sidebar */
    width: 250px;
    padding: 1em;
    height: 100vh;
    overflow-y: auto;
    float: left;   
}

/* Margin for each section in the sidebar */
.sidebar__section {
    margin-bottom: 1em;  
}

/*Styles for headings in the sidebar */
.sidebar__heading {
    font-size: 1.25rem;
    margin-bottom:0.5em;  
}

/* Styles for links in the sidebar */
.sidebar__link {
    color: var(--clr-dark);
    text-decoration: none;
    display: block;
    padding: 0;  
}

/* Hover state for sidebar links */
.sidebar__link:hover {
    color: var(--clr-primary-accent);    
}

/* Remove markers (bullets) from list items in the sidebar */
.sidebar__list {
    list-style-type: none;
    font-size: 20px; 
    margin-bottom: 1em;
}

/* Styles for the main content area */
.main-content {
    margin-left: 250px; /* Space for the sidebar */
    margin-top: o;
    padding: 2em;
}

.main-content, .sidebar {
    max-height: 100vh; /* Set maximum height to viewport height */
    overflow-y: hidden; /* Hide vertical scrollbar */
}

/*-------- Styles for color swatches for the page Colours.html--------*/
.color-swatches {
    margin-top: 2em; /* Adjust margin as needed */
}

.swatch-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Responsive grid layout */
    gap: 1em; /* Gap between swatches */
}

.swatch {
    padding: 1em; /* Padding around swatches */
    border-radius: 4px; /* Rounded corners */
    border: 1px solid var(--clr-border); /* Border with border color */
}

/* BEM naming for swatch classes */
.swatch__content {
    margin-bottom: 0.5em; /* Adjust margin as needed */
}

.swatch__content p {
    margin: 0; /* Reset default margins */
}

/* Primary Text Swatch */
.primary-text {
    background-color: var(--clr-white); /* White background */
    color: var(--clr-primary); /* Primary text color */
}

/* Secondary Text Swatch */
.secondary-text {
    background-color: var(--clr-white); /* White background */
    color: var(--clr-secondary); /* Secondary text color */
}

/* Background Light Swatch */
.bg-light {
    background-color: var(--clr-light); /* Light background color */
    color: var(--clr-dark); /* Dark text color */
}

/* Background Medium Swatch */
.bg-medium {
    background-color: var(--clr-medium); /* Medium background color */
    color: var(--clr-white); /* White text color */
}

/* Background Dark Swatch */
.bg-dark {
    background-color: var(--clr-dark); /* Dark background color */
    color: var(--clr-white); /* White text color */
}

/* Background Primary 100 Swatch */
.bg-primary-100 {
    background-color: var(--clr-primary-100); /* Background color */
    color: var(--clr-muted); /* Muted text color */
}

/* Background Primary 700 Swatch */
.bg-primary-700 {
    background-color: var(--clr-primary-700); /* Background color */
    color: var(--clr-white); /* White text color */
}

/* Background Accent 100 Swatch */
.bg-accent-100 {
    background-color: var(--clr-accent-100); /* Background color */
    color: var(--clr-dark); /* Dark text color */
}

/* Background Accent 700 Swatch */
.bg-accent-700 {
    background-color: var(--clr-accent-700); /* Background color */
    color: var(--clr-white); /* White text color */
}

/* Background Primary Accent Swatch */
.bg-primary-accent {
    background-color: var(--clr-primary-accent); /* Background color */
    color: var(--clr-white); /* White text color */
}

/* Background Success Swatch */
.bg-success {
    background-color: var(--clr-success); /* Background color */
    color: var(--clr-white); /* White text color */
}

/* Background Info Swatch */
.bg-info {
    background-color: var(--clr-info); /* Background color */
    color: var(--clr-white); /* White text color */
}

/* Background Warning Swatch */
.bg-warning {
    background-color: var(--clr-warning); /* Background color */
    color: var(--clr-dark); /* Dark text color */
}

/* Background Danger Swatch */
.bg-danger {
    background-color: var(--clr-danger); /* Background color */
    color: var(--clr-white); /* White text color */
}

/* Responsive Design for Mobile */
/* Hamburger menu on mobile */
@media (max-width: 768px) {
    .navbar__hamburger {
        display: block;
    }

    .navbar__menu {
        display: none; /* Hide the menu in the navbar */
    }

    .sidebar {
        position: fixed;
        left: -250px;
        line-height: 19.5px;
        transition: left 0.3s;
        z-index: 100; /* High z-index to ensure the sidebar is above other content */
    }

    .sidebar.open .navbar__menu {
        display: flex;
        flex-direction: column; 
        position: absolute; 
        top: 0; 
        left: 0; 
        width: 100%; 
        background-color: var(--clr-shadow); 
    }
    /* Adjust padding as needed */
    .sidebar.open .navbar__menu .navbar__menu-link {
        padding: 0.5em 1em; 
    }
    
    /* Show the sidebar */
    .sidebar.open {
        left: 0; 
    }

    /* Remove margin for main content on mobile */
    .main-content {
        margin-left: 0;
    }

    .sidebar__close-button {
        display: none; /* Hide by default */
    }
    
    .sidebar.open .sidebar__close-button {
        display: block; /* When the sidebar is open */

    }
}







